* {
    margin: 0 auto;
    padding: 05px;
}
a > img {
    height: 150px;
    width: 150px;
}
img{
    width: 720px;
    height: 100%;
}
div #title{
    background-image: url("./image/ca-phe-say-lanh.png");
    background-position: center;
    background-size: cover;
    width: 780px;
    height: 180px;
    margin: auto;
    text-align: center;
}
div #wrap {
    margin: auto;

}
/*table {
    padding: 5px;
    background: cyan;
    border: 5px solid cyan;
    border-radius: 20px;
}*/
td {
    padding: 10px;
    border: 1px solid lightseagreen;
    border-radius: 10px;
}
td:hover {
    background: lightcoral;
}
form {
    text-align: left;
}