* {
    padding: 5px;
    margin: 0 auto;
    font-family: Consolas
}
.center {
    width: 70%;
    height: 400px  ;
    background-image: url("back_Login.png");
    background-repeat: no-repeat;
    background-position: left;
}
table {
    opacity: 1;
    margin: 5px;
    background: white;
    /*border: 1px solid gray;*/
    border-radius: 10px;
}
td,tr {
    opacity: 1;
    padding: 1px;
}
#user, #pass, #quyentruycap {
    width: 200px;
    border-radius: 5px;
    border: 1px solid lightblue;
}
option{
    width: 200px;
    padding: 5px;
}
#login {
    background: darkgray    ;
    width: 200px;
    border-radius: 5px;
    border: 0px solid lightblue;
}
#login:hover {
    background: lightpink;
}